{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | About
{% endblock %}

{% block main %}
    <div class="grid h-48 grid-cols-1 place-content-center text-center justify-items-center align-middle "
         style="height: 100%">
        <p>Tout à propos de moi lolilol</p>
    </div>

{% endblock %}

