<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}

    <link rel="icon" href="{{ asset('images/favicon.png') }}" type="fav-icon">
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
{% include 'views/nav/header.html.twig' %}
<main class="min-h-[calc(60vh-8rem)] flex flex-col items-center justify-center"
      style="height: 68vh">

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div>
        {% block main %}{% endblock %}
    </div>
</main>
{% include 'views/nav/footer.html.twig' %}
</body>

</html>
