{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Bucket-List
{% endblock %}

{% block main %}
    <div class="grid h-48 grid-cols-1 place-content-center text-center justify-items-center" style="height: 100%">
        <h1>La super page de la bucket list</h1>
    </div>
{% endblock %}

